/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* end reset css */

.header__top {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 787px) {
    padding: 10px 10px;
  }

  .fa {
    color: #f00000;
  }
}

.header__top-logo {
  img {
    @media (max-width: 787px) {
      width: 150px;
      height: auto;
    }
    @media (max-width: 480px) {
      width: 100px;
      height: auto;
    }
  }
}

.header__top-search {
  .search-bar {
    width: 500px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 50px;

    @media (max-width: 787px) {
      width: 300px;
    }

    @media (max-width: 480px) {
      width: 180px;
    }

    .search-input {
      width: 90%;
      border: 0px;
      background-color: transparent;
    }

    .search-button {
      float: right;
    }
  }
}

.header__top-navlinks {
  display: flex;
  gap: 50px;

  @media (max-width: 787px) {
    display: none;
  }

  a > i {
    font-size: 24px;
  }
}

.header__top-hamburger {
  display: none;

  @media (max-width: 787px) {
    display: block;
  }
}

.header__menu {
  padding: 10px 50px;
  background-color: #f00000;
  display: flex;
  justify-content: space-between;

  @media (max-width: 787px) {
    display: none;
  }

  .header__menu-links {
    a {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 30px;
      }

      span {
        font-size: 13px;
        line-height: 22px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}

.header__mobi {
  display: none;
  padding: 15px 10px;
  background-color: #f1f2f3;
  position: fixed;
  top: 0;
  width: 350px;
  height: 100%;
  z-index: 9999;
  left: -100%;

  @media (max-width: 480px) {
    padding: 20px 10px;
    width: 250px;
  }
  /* @media (max-width: 787px) {
    display: block;
  } */

  .header__mobi-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 150px;
      height: auto;

      @media (max-width: 480px) {
        width: 100px;
      }
    }
  }

  .header__mobi-nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    ul li a {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    ul li a img,
    i {
      padding: 10px;
      height: 50px;
      width: 60px;
      border-radius: 50%;
      background-color: #f00000;
    }

    ul li a i {
      font-size: 25px;
      text-align: center;
      color: #ffffff;
    }
  }
}

@keyframes showMenuMobi {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes closeMenuMobi {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
