/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* end reset css */

.header__top {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa {
    color: #f00000;
  }
}

.header__top-search {
  .search-bar {
    width: 500px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 50px;

    .search-input {
      width: 90%;
      border: 0px;
      background-color: transparent;
    }

    .search-button {
      float: right;
    }
  }
}

.header__top-navlinks {
  display: flex;
  gap: 20px;

  a > i {
    font-size: 20px;
  }
}

.header__menu {
  padding: 10px 50px;
  background-color: #f00000;
  display: flex;
  justify-content: space-between;

  .header__menu-links {
    a {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 30px;
      }

      span {
        font-size: 13px;
        line-height: 22px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }
}
